/* region common */
:root{
    --responsive-layout-primary: #0084fd;
    --responsive-layout-secondary: #9792e4;
    --responsive-layout-dark: #333333;
    --responsive-layout-lighter: #ffffff;
    --responsive-layout-background-card: #b5ddff;
    --responsive-layout-free: #fdc15f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* endregion common */

/* region utilies */
.container-sm{
    max-width: 520px;
    width: 100%;
    padding: 2rem;
    margin: auto;
}
.container{
    max-width: 580px;
    width: 100%;
    padding: 2rem;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* endregion utilies */


/* region header */

#site-header{
    background-color: var(--responsive-layout-primary);
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu > a{
    color: var(--responsive-layout-lighter);
    font-size: 25px; 
}
.siderbar{
    display: none;
}
.siderbar > ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.siderbar > ul>li:nth-last-child(1){
    color: var(--responsive-layout-dark);
    padding: 0.5rem 1rem;
    background-color: var(--responsive-layout-lighter);
    border-radius: 3rem;
}
.siderbar > ul > li > a{
    text-decoration: none;
    color: var(--responsive-layout-lighter);
}
#btn-header{
    color: var(--responsive-layout-dark);
}
/* endregion header */

/* region main */

/* section demo application */
.col-8 .card{
    text-align: start;
}
.card{
    background-color: var(--responsive-layout-background-card);
    padding: 1rem 2rem 0;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0 5px 20px;
}
.card-sm{
    padding: 2rem;
}
.card > *{
    padding: 20px 0;
}
.card > h2{
    color: var(--responsive-layout-primary);
}
.btn >a{
    padding: 0.5rem 4rem;
    text-decoration: none;
    border-radius: 2rem;
    color: var(--responsive-layout-lighter);
    background-color: var(--responsive-layout-primary);
}
.btn > a > i{
    padding-right: 5px;
}
.image-card{
    width: 100%;
    padding: 0;
}
.image-card > img{
    width: 100%;
    margin-bottom: -5px;
}
.card > i{
    font-size: 90px;
    padding: 0;
    color: var(--responsive-layout-primary);
}
/* endsection demo application */

/* section strategic planning */
#strategic-planning{
    background-color: var(--responsive-layout-secondary);
    color: var(--responsive-layout-lighter);
    font-weight: 500;
    padding: 30px 0;
}
.info-strategic > *{
    padding: 20px 0;
}
.left-strategic-planning > img{
    width: 100%;
}
.info-strategic > h2{
    font-size: 30px;
}
.right-strategic-planning{
    background-color: var(--responsive-layout-lighter);
    color: var(--responsive-layout-dark);
    text-align: center;
    border-radius: 2rem;
    padding: 2rem;
}
.right-strategic-planning > *{
    padding: 20px 0;
}
.right-strategic-planning > img{
    width: 100%;
}
#jump-to{
    display: inline-block;
    border-radius: 50%;
    padding: 10px 15px;
    background-color: var(--responsive-layout-secondary);
}
#jump-to > a {
    color: var(--responsive-layout-dark);
}
/* endsection strategic planning */

/* section testimonial */
#testimonials{
    text-align: center;
    padding: 50px 0;
}
#testimonials > .container > h2{
    color: var(--responsive-layout-secondary);
    font-size: 35px;
}
#testimonials > .container > *{
    padding: 25px 0;
}
.card-testimonial{
    color: var(--responsive-layout-lighter);
    text-align: center;
    background-color: var(--responsive-layout-secondary);
    width: 80%;
    margin: 0 auto 30px;
    padding: 1rem;
    border-radius: 2rem;
    
}
.img-testimonial > img{
    width: 100%;
    border-radius: 100%;
}
.info-testimonial{
    text-align: center;
}
/* endsection testimonial */

/* section benefits */
#benefits{
    background-color: var(--responsive-layout-secondary);
    padding-top: 50px;
    text-align: center;
}
#benefits > .container > h2{
    font-size: 35px;
    color: var(--responsive-layout-lighter);
    padding-bottom: 50px;
}
.card-benefits{
    margin-bottom: 30px;
    text-align: start;
    background-color: var(--responsive-layout-lighter);
    color: var(--responsive-layout-secondary);
    padding: 2rem;
    border-radius: 1rem;
}
.card-benefits > h1{
    font-size: 50px;
}
.card-benefits > *{
    padding: 10px 0;
}
.more{
    margin: 20px 0;
    border-radius: 2rem;
    display: inline-block;
    padding: 0.5rem 4rem;
    background-color: var(--responsive-layout-secondary);
}
.more > a{
    text-decoration: none;
    color: var(--responsive-layout-lighter);
}
/* endsection benefits */

/* section about us */
#about-us{
    padding: 60px 0;
}
.about-title > h2{
    color: var(--responsive-layout-secondary);
    font-size: 50px;
    margin-bottom: 20px;
}
.about-us-image{
    margin-top: 60px;
    position: relative;
}
.about-us-image > img{
    width: 50%;
    border-radius: 50%;
}
.about-us-image >i{
    font-size: 60px;
    position: absolute;
    top:0;
    left:40%;
    color: var(--responsive-layout-secondary);
}
.about-us-info > h2{
    color: var(--responsive-layout-secondary);
    padding: 20px 0;
}
.likedin-about{
    display: inline-block;
    background-color: var(--responsive-layout-secondary);
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    color: var(--responsive-layout-lighter);
}
/* endsection about us */

/* section get started */
#get-started{
    background-color: var(--responsive-layout-secondary);
    text-align: center;
    padding: 50px 0;
    color: var(--responsive-layout-lighter);
}
.col-started > *{
    margin: 20px 0;
}
.col-started :nth-last-child(5){
    font-size: 30px;
}
.col-started :nth-last-child(4){
    font-size: 60px;
    color: var(--responsive-layout-free);
}
.col-started :nth-last-child(2){
    display: inline-block;
    background-color: var(--responsive-layout-lighter);
    padding: 1.5rem 5rem;
    border-radius: 3rem;
}
.col-started :nth-last-child(2) > a{
    color: var(--responsive-layout-secondary);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
} 
.col-started :nth-last-child(1) > span > a{
    color: var(--responsive-layout-lighter);
}
/* endsection get started */

/* endregion main */


/* region footer */
#site-footer{
    background-color: var(--responsive-layout-dark);
    text-align: center;
    padding: 30px;
    color: var(--responsive-layout-lighter);
}
#site-footer > .container > p{
    margin-bottom: 70px;
}
/* endregion footer */




/* region media query 768px */
@media screen and (min-width: 768px){
    .container{
        max-width: 950px;
        width: 100%;
    }
    .col-12{
        width: 100%;
    }
    .col-8{
        width: calc((100% / 12) * 8);
    }
    .col-4{
        width: calc((100% / 12) * 4);
    }
    .image-card{
        width: 300px;
    }
    .card-testimonial{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    .info-testimonial{
        text-align: start;
    }
    .col-6{
        width: calc(50%);
    }
    .card-benefits{
        margin: 1.5rem;
    }
    .about-title{
        padding: 0 60px;
    }
    .about-us-image > img{
        width: 200px;
    }
    .about-us-image > i{
        left: 140px;
    }
}
/* endregion media query 768px */

/* region media query 992px */
@media screen and (min-width: 992px){
     .container{
        max-width: 1000px;
        width: 90%;
     }


}
/* endregion media query 992px */

/* region media query 1200px  */
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
        width: 80%;
    }
    .siderbar{
        display: block;
    }
    .main-menu{
        display: none;
    }
    .left-strategic-planning{
        padding-right: 50px;
    }
    .left-strategic-planning > img{
        transform: translateY(-240px);
    }
    .col-6-lg{
        width: 50%;
    }
    #strategic-planning{
        padding-top: 340px;
    }
    .info-strategic{
        transform: translateY(100px);
    }
    .col-4-lg{
        width: calc((100% / 12)* 4);
    }
}
/* endregion media query 1200px  */
