/* region common */
:root{
    --responsive-layout-primary: #0084fd;
    --responsive-layout-secondary: #9792e4;
    --responsive-layout-dark: #333333;
    --responsive-layout-lighter: #ffffff;
    --responsive-layout-background-card: #b5ddff;
    --responsive-layout-free: #fdc15f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* endregion common */

/* region utilies */

.container{
    
    max-width: 580px;
    width: 90%;
    padding: 2rem;
    margin: auto;
}
.row{

    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 90%;
}

/* endregion utilies */


/* region header */

#site-header{
    background-color: var(--responsive-layout-primary);
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu > a{
    color: var(--responsive-layout-lighter);
    font-size: 25px; 
}
.siderbar{
    display: none;
}
.siderbar > ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.siderbar > ul>li:nth-last-child(1){
    color: var(--responsive-layout-dark);
    padding: 0.5rem 1rem;
    background-color: var(--responsive-layout-lighter);
    border-radius: 3rem;
}
.siderbar > ul > li > a{
    text-decoration: none;
    color: var(--responsive-layout-lighter);
}
#btn-header{
    color: var(--responsive-layout-dark);
}
/* endregion header */

/* region main */

/* section demo application */
.card{
    background-color: var(--responsive-layout-background-card);
    padding: 1rem 2rem 0;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
}
.card > *{
    padding: 20px 0;
}
.card > h2{
    color: var(--responsive-layout-primary);
}
.btn >a{
    padding: 0.5rem 4rem;
    text-decoration: none;
    border-radius: 2rem;
    color: var(--responsive-layout-lighter);
    background-color: var(--responsive-layout-primary);
}
.btn > a > i{
    padding-right: 5px;
}
.image-card{
    width: 100%;
    padding: 0;
}
.image-card > img{
    width: 100%;
    margin-bottom: -5px;
}
/* endsection demo application */


/* endregion main */


/* region media query 1200px  */
@media screen and (min-width: 1200px) {
    .siderbar{
        display: block;
    }
    .main-menu{
        display: none;
    }
}
/* endregion media query 1200px  */
